.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;

  .col {
    //display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
  }

  .col-l {
    flex: 2;
  }

  .row{
    //display: flex;
    flex:1;
    gap: 10px;
    position: relative;
    overflow: hidden;

    button{
      position: absolute;
      min-width: 100px;
      width: fit-content;
      height: 50px;
      padding: 10px 25px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
      border: none;
      background: #555;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
    }

    button:hover{
      background: #999;
      color: #111;
    }


    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
