
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;

    .logo{
      color: #2879fe;
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
    }

    .copyright{
      margin-left: 20px;
      font-size: 12px;
      color: gray;
    }
  }
  .right {

    img{
      height: 50px;
    }
  }
}